body {
    background-color: #8a8ce4;
}

.w1
img {
  width: 668px;
  height: 670px;
  position: relative;
  -webkit-animation-name: w1;
  -webkit-animation-duration: 20s;
  animation-name: w1;
  animation-duration: 40s;
}

.w2 
img {
  width: 704px;
  height: 714px;
  position: relative;
  -webkit-animation-name: w2;
  -webkit-animation-duration: 20s;
  animation-name: w2;
  animation-duration: 40s;
}
.w3 
img {
  width: 650px;
  height: 661px;
  position: relative;
  -webkit-animation-name: w3;
  -webkit-animation-duration: 20s;
  animation-name: w3;
  animation-duration: 20s;
}
.w4 
img {
  width: 541px;
  height: 550px;
  position: relative;
  -webkit-animation-name: w4;
  -webkit-animation-duration: 20s;
  animation-name: w4;
  animation-duration: 20s;
}
.w5 
img {
  width: 882px;
  height: 896px;
  position: relative;
  -webkit-animation-name: w5;
  -webkit-animation-duration: 20s;
  animation-name: w5;
  animation-duration: 20s;
}
.w6 
img {
  width: 558px;
  height: 510px;
  position: relative;
  -webkit-animation-name: w6;
  -webkit-animation-duration: 50s;
  animation-name: w6;
  animation-duration: 10s;
}
@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}
@-webkit-keyframes w1 {
  0%   { left:0px; top:0px;}
  15%   { left:355px; top:0px;}
  25%  { left:772px; top:440px;}
  50%  { left:355px; top:900px;}
  75%  { left:0px; top:600px;}
  100% { left:0px; top:0px;}
}
@-webkit-keyframes w2 {
  0%   { left:600px; top:0px;}
  25%  { left:0px; top:0px;}
  50%  { left:600px; top:600px;}
  75%  { left:0px; top:0px;}
  100% { left:0px; top:0px;}
}
@-webkit-keyframes w3 {
  0%   { left:404px; top:900px;}
  25%  { left:0px; top:500px;}
  50%  { left:404px; top:0px;}
  75%  { left:800px; top:500px;}
  100% { left:0px; top:0px;}
}
@-webkit-keyframes w4 {
  0%   { left:0px; top:10px;}
  25%  { left:300px; top:300px;}
  50%  { left:600px; top:600px;}
  75%  { left:0px; top:0px;}
  100% { left:0px; top:0px;}
}
@-webkit-keyframes w5 {
  0%   { left:0px; top:10px;}
  25%  { left:300px; top:300px;}
  50%  { left:600px; top:600px;}
  75%  { left:0px; top:0px;}
  100% { left:0px; top:0px;}
}
@-webkit-keyframes w6 {
  0%   { left:288px; top:480px;}
  25%  { left:450px; top:278px;}
  50%  { left:730px; top:480px;}
  75%  { left:450px; top:612px;}
  100% { left:450px; top:0px;}
}
