body {
    -webkit-animation-name: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
 @keyframes bgcolor {
    from {background-color: rgb(255, 0, 200);}
    to {background-color: rgb(0, 238, 255);}
}
div {
    width: 1000px;
    height: 1000px;
    position: relative;
    left: 700px;
    background-color: rgb(0, 0, 0);
    -webkit-animation-name: block; 
    -webkit-animation-duration: 0.5s; 
    animation-name: block;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}



@-webkit-keyframes block {
    from {background-color:rgb(0, 238, 255);}
    to {background-color: rgb(255, 0, 200);}
}


@keyframes block {
    from {background-color:rgb(0, 238, 255);}
    to {background-color:  rgb(255, 0, 200);}
}