body {
    background-color: #becde0;
    font-size: 10px;
font-family: Arial, Helvetica, sans-serif;

}


.header h1 {
    
    float: center;;
    position: relative;
    top: 200px;
    left: 160px;
    color: rgb(71, 121, 121);
        
        
    }
   
.header img {
    /* float: center; */
    /* position: relative;
    top: 350px;
    left: 450px; */

}

.header{
    background-image: url("odin.gif");
    position: absolute;
    top: 350px;
    left: 450px;
    width: 410;
    height: 300;
    left: 307;
}