body {
    
    font-size: 10px;
font-family: Arial, Helvetica, sans-serif;

}

.images {
    position: relative;
  top: 0;
  left: 0;
}
.bg {

}
.img1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .img2 {
    position: absolute;
    top: 0px;
    left: 70px;
  }
  img .img3{
    width: 100px;
    height: auto;
  }
  .img3 {
    position: absolute;
    top: 123px;
    left: 1000px;
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  .img4 {
    position: absolute;
    top: 568px;
    left: 0px;
    }
  .img5 {
      position: absolute;
    top: 0px;
    left: 300px;
    image-rendering: optimizeQuality;
    im
    }
    .woman {
    position: fixed;
    top: 0px;
    left: 0px;
    }



