body {
    background-color: white;
}
.images {
    position: relative;
  top: 0;
  left: 0;
}
.woman {
    position: absolute;
    top: 0px;
    left: 270px;
}
.lips {
    position: absolute;
    top: 577px;
    left: 740px;
    width: 87px;
    height: auto;
}